* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.navbar {
    height: 10vh;
    width: 100vw;
    background-color: gold;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100%;
    width: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 70%;
    width: 70%;
    padding-left: 30px;
}

.navbar .navbar-links {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-links p {
    font-size: medium;
}

.navbar-links p:hover {
    color: brown;
    transition: 0.3s;
}

.navbar2 {
    height: 10vh;
    width: 100vw;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

.navbar21 {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar22 {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar2 p:hover {
    color: brown;
    transition: 0.3s;
}

.centerpiece {
    background-image: url(../IMG/centerpic.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100vw;
    background-color: aqua;
    align-content: center;
    justify-items: center;
}

.centerpiece-box {
    height: 30%;
    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.centerpiece-box P {
    font-size: x-large;
    color: azure;
    font-weight: 900;
}

.srbox {
    height: 45%;
    width: 100%;
    background-color: white;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
}

.srbox i {
    font-size: 20px;
    color: rgba(56, 55, 55, 0.678);
}

.srbox input {
    width: 70%;
    height: 100%;
    color: brown;
    border: none;
    outline: none;
}

.srbox button {
    background-color: red;
    height: 100%;
    width: 20%;
    border: none;
    color: white;
    font-size: medium;
    font-weight: 700;
}

.functions {
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 450px;
}

.functions .functions-text {
    height: 80%;
    width: 20%;
    background-color: white;
    text-align: center;
    align-content: center;
    z-index: 50;
    border: rgba(160, 150, 150, 0.664) 0.4px solid;
}

.functions-text:hover {
    scale: 1.1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 55;
}

.functions-text i {
    color: red;
    font-size: xx-large;
}

.functions-text h2 {
    color: black;
    font-size: large;
}

.functions-text p {
    color: black;
}

#incr {
    margin-top: -35px;
    height: 100%;
    padding: 0 6px;
}

.mission {
    height: 40vh;
    width: 100vw;
    background-color: gold;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.mission-img {
    background-image: url(../IMG/glo-core-person-holding-paperwork.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 15%;
    height: 100%;
}

.mission-text {
    height: 80%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mtext {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mission-text button {
    background-color: red;
    width: 20%;
    height: 25%;
    color: white;
    border: none;
    border-radius: 3px;
    font-weight: 900;
}

.card1 {
    height: 80vh;
    width: 100vw;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
}

.card2{
    height: 80vh;
    width: 100vw;
    background-color: aqua;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
}

.card11 {
    height: 90%;
    width: 40%;
    z-index: 99;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    background-color: white;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card11.mr{
    margin-right: -40px;
}
.card11.ml{
    margin-left: -40px;
}
 .card12 {
    background-image: url(../IMG/woman-signs-for-package-0002.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 40%;
    background-color: blue;
    border-radius: 5px;
}

.card121 {
    background-image: url(../IMG/workers-at-the-container-port-0001.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 40%;
    background-color: blue;
    border-radius: 5px;
}

.services {
    height: 40%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.services-inside {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.services-inner {
    height: 50%;
    width: 50%;
    background-color: rgb(245, 245, 245);
}

.services-inner2{
    height: 50%;
    width: 50%;
    background-color: rgb(245, 245, 245);
}

.services-inner i{
    background-color: gold;
    padding: 3px;
}


.services-inner2 i{
    background-color: gold;
    padding: 3px;
}


.servicebutton {
    height: 20%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicebutton button {
    background-color: red;
    width: 90%;
    height: 50%;
    border: none;
    color: white;
    font-weight: 900;
    font-size: medium;
}

.servicebutton button:hover{
    background-color: rgb(95, 25, 25);
    transition: 0.3s;
}